In [1]:
import pandas as pd

In [8]:
s = pd.Series([0, 1, 10, 3, 5, 2, 5, 4, 8, 6])

In [4]:
type(s)

pandas.core.series.Series

In [6]:
s[4]

5

In [10]:
s.head(8)

0     0
1     1
2    10
3     3
4     5
5     2
6     5
7     4
dtype: int64

In [11]:
s.tail()

5    2
6    5
7    4
8    8
9    6
dtype: int64

In [13]:
df = pd.DataFrame({'A':[1,1,1,1], 'B': [2,2,2,2], 'C': [3,3,3,3]})
df.head()

   A  B  C
0  1  2  3
1  1  2  3
2  1  2  3
3  1  2  3

In [15]:
df['C']

0    3
1    3
2    3
3    3
Name: C, dtype: int64

In [17]:
df[0:3]

   A  B  C
0  1  2  3
1  1  2  3
2  1  2  3

In [18]:
df = pd.read_csv('iris.csv')

In [19]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa